body{
    height: 100%;
}

#form_container{
    background-color: #ffffff;
}

.form-group{
    margin: 5px;
}

#btn_submit{
    margin: 5px;
}

h2{
    color: #ffffff;
    font-family: "Neo sans pro";
}

#authentification_title{
    background-color: #378de9;
}

img{
    height: 100%;
    width: 50%;
}

.form-row{
    margin: 0px;
}

#rowlogin{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("/images/bureau.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}