body{
    background: url("/images/bureau.jpg") no-repeat center center fixed;
    background-size: cover;

    height: 100%;
}

h1{
    color: dodgerblue;
}

#navbar{
    background-color: #1b70ca;
    color: #ffffff;
    height: 60px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#efreinavbar{
    height: 75%;
    width: 15%;
}

#navbarText{
    margin-left: 10px;
    margin-right: 10px;
}