body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: dodgerblue;
}

h2{
    padding: 10px;
    background-color: lightgrey;
    font-size: 30px;
}
.contain{
    border: 1px solid black;
    padding:30px ;
}

#authentification_title{
    background-color: #378de9;
}

table{
    background-color: white;
}
tr{

}

td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-9{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    border: 1px solid lightgrey;
}
.col-md-4{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    border: 1px solid lightgrey;
    margin-bottom: 10px;


}
.col-md-7{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    box-shadow: 5px 5px 5px 0px rgba(219,219,219,1);
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}